* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
.icon-link img{
    width: 1.25rem;
    color:white;
}
 .sliding-text {
  animation: slideLeft 8s linear infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
} 